<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Users database</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="/bootstrap.min.css" media="screen" />
 <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="/static/app/user.controller.js" th:src="@{/app/user.controller.js}"></script>
<style>
h3 {
	text-align: center;
}
</style>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#myPage"><span
					class="glyphicon glyphicon-globe"></span> COMPASSITES</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="/showroles.html">SHOW ROLES</a></li>
					<li><a href="/users.html">ADD USER</a></li>
					<li><a href="/addrole.html">ADD ROLE</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/dashboard.html">Home</a></li>
					<li><a href="/login.html">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="page-header" id="banner">
			<div class="row">
				<!--  <div class="col-lg-8 col-md-7 col-sm-6"> -->
				<h3>Users</h3>

				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Roles</th>
							<th>UserName</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td th:text="${user.firstName + ' ' + user.lastName}"></td>
							<td><span th:each="role,iterStat : ${user.roles}"> <span
									th:text="${role.rolename}" />
								<th:block th:if="${!iterStat.last}">,</th:block>
							</span></td>
							<td th:text="${user.username}"></td>
							<td><a th:href="@{/user/{id}(id=${user.id})}">Edit</a> 
							 <button class="btn btn-danger" ng-click="vm.deleteBooking(booking.id)">Delete</button>
								<!-- <a th:href="@{/showusers/{id}/delete(id=${user.id})}">Delete</a></td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>